<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/output_create.css">
  <title>Tambah</title>
</head>

<body class="bg-gray-500">
  <div class="container flex flex-col items-center mb-10 mt-10">
    <div class="card border-0 shadow rounded">
      <div class="card-body">
        <form action="/posts/store" method="post">
          <div class="form-group">
            <label>Nama Lengkap</label>
            <input type="text" class="form-control" name="full_name" value="<%= full_name %>"
              placeholder="Masukkan Nama Lengkap">
          </div>
          <div class="form-group">
            <label>Jurusan</label>
            <input type="text" class="form-control" name="jurusan" value="<%= jurusan %>"
              placeholder="Masukkan Jurusan">
          </div>
          <div class="form-group">
            <label>Tahun Lulus</label>
            <input type="text" class="form-control" name="tahun_lulus" value="<%= tahun_lulus %>"
              placeholder="Masukkan Tahun lulus">
          </div>
          <div class="inline-flex">
            <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-l">
              Tambah
            </button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>